body {
    background-color: rgb(255, 255, 255);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  p {
    text-align: center;
    color: rgb(17, 17, 17);
  } 
  p {
    font-family: verdana;
    font-size: 20px;
  }

  p {
    font-family: "Times New Roman", Times, serif;
  }

  

.button2 {background-color: white;
  color: black;
  border: 2px solid #0d09e9;
  border-radius: 6px;
}

#inputContainer {
  display: flex;
  justify-content: center;
}

input {
  padding: 5px;
  margin-right: 10px;
  outline: none;
  font-weight: bold;
}

